@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h3>Ao sistema interno de alertas da AlertHaven.</h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Alerta" asp-action="Index">Alertas</a>
</div>
